body{

background-color:#f4cca4;
margin: 2%;
border-radius: 25px;
 
}

img{
   border: 1%;
      border-radius: 2%;
      background-color:#d99879 ;
      display: inline-block;
      height: 130px;
      width: 17%;
      padding:1%;
      margin-left: 0.25%;
      margin-right: 0%;
}

p{
  background-color: #d99879 ;
 }
header{
    text-align: center;
  
    color: #000000;
  
    background-color:#ba135d ;
    height: 70px;
    font-weight: bold;
    font-size:250%;

  }
  footer{
    text-align: center;
  
    color: #000000;
  
    background-color:#ba135d;

  }
  h5{
    background-color:#d99879 ;
    font-weight:bold ;
  }
  ul{
list-style-type: disc;
background-color:#d99879 ;

  }
  ol{
      list-style-type:decimal;
      background-color:#d99879 ;

  }